.git
.vscode
README.md
Dockerfile
.gitignore
node_modules
.dockerignore
package-lock.json
docker-compose.yaml
Nubian Fortune Marketplace - 9_21_2024.webp

# Client
client/*
!client/public/
!client/dist/

# Server
/server/.env.me
/server/.env.vault
/server/.env.previous
/server/node_modules
/server/package-lock.json