* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}


@import './NavigationComponent.sass';
@import './HomePage/Home.sass';
@import './HomePage/TrendingProductsComponent.sass';
@import './HomePage/ClientReviewsComponent.sass';
@import './HomePage/UpdateNewsComponent.sass';
@import './HomePage/ContactComponent.sass';