@import './Mixins'

nav
    position: fixed
    width: 100%
    top: 0
    right: 0
    z-index: 1000
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px 10%
    transition: .3s ease-in-out
    @include mediaQuery(890px)
        padding: 20px 3%
        transition: .4s
    &.sticky
        background: #fff
        padding: 20px 10%
        box-shadow: 0 0 10px rgb(0 0 0 / 10%)
    .logo
        img
            max-width: 100px
            height: auto
    .navmenu
        display: flex
        @include mediaQuery(750px)
            position: absolute
            top: 100%
            right: -130%
            width: 300px
            height: 130vh
            background: #edfff1
            display: flex
            flex-direction: column
            align-items: center
            padding: 120px 30px
            transition: all .42s
            &.open
                right: 0
        a
            color: $text-color
            font-size: 16px
            text-transform: capitalize
            padding: 10px 20px
            font-weight: 400
            transition: all .42s ease
            @include mediaQuery(750px)
                display: block
                margin: 18px 0
            &:hover
                color: $main-color
    .nav-icon
        display: flex
        align-items: center
        i
            margin-right: 20px
            color: $text-color
            font-size: 25px
            font-weight: 400
            transition: all .42s ease
            &:hover
                color: $main-color
        #menu-icon
            font-size: 35px
            color: $text-color
            z-index: 10001
            display: none
            cursor: pointer
            @include mediaQuery(750px)
                display: block
        .icon-cart
            position: relative
            i
                &:hover
                    cursor: pointer
            span
                display: flex
                justify-content: center
                align-items: center
                position: absolute
                bottom: 0
                right: 13px
                width: 15px
                height: 14px
                border-radius: 50%
                background: red
                font-size: 0.7rem
                color: #fff

section, footer
    padding: 5% 10%














body.showCart .cartTab
    inset: 0 0 0 auto
.cartTab
    width: 400px
    background: #353432
    color: #eee
    position: fixed
    z-index: 9000
    inset: 0 -400px 0 auto
    display: grid
    grid-template-rows: 70px 1fr 70px
    transition: .5s
    h1
        padding: 20px
        margin: 0
        font-weight: 300
    .listCart
        overflow: auto
        &::-webkit-scrollbar
            width: 0
        .item
            display: grid
            grid-template-columns: 70px 150px 50px 1fr
            gap: 10px
            text-align: center
            align-items: center
            &:nth-child(even)
                background: #eee1
            img
                width: 100%
            .name
                font-size: 0.85rem
            .quantity
                span
                    display: inline-block
                    width: 25px
                    height: 25px
                    background: #eee
                    color: #555
                    border-radius: 50%
                    cursor: pointer
                    &:nth-child(2)
                        background-color: transparent
    .btn
        display: grid
        grid-template-columns: repeat(2, 1fr)
        button
            background: #E8BC0E
            font-weight: 500
            cursor: pointer
        .close
            background: #eee