* {
    margin: 0;
    padding: 0;
}

:root {
    --margin-top: 20px;
    --bg: #800080;
    --text-color: #fff;
    --btn-padding: 2px 3px 2px 3px;
    --btn-border: 4px;
}

section {
    display: flex;
    justify-content: space-between;
}

h4:nth-child(1) {
    position: relative;
    left: 10px;
}

h4:nth-child(2) {
    position: relative;
    right: 10px;
}

main {
    position: relative;
    top: 100px;
    text-align: center;
    margin: 0 400px 0 400px;
}

main p {
    font-size: 18px;
    margin-top: var(--margin-top);
}

.startquiz-btn {
    background: var(--bg);
    color: var(--text-color);
    padding: var(--btn-padding);
    border-radius: var(--btn-border);
    margin-top: var(--margin-top);
    display: inline;
}

/* When the user starts the quiz these styles will apply to the new elements */
.quizstart-styles {
    text-align: left;
    display: grid;
}

button {
    background: var(--bg);
    color: var(--text-color);
    padding: var(--btn-padding);
    border-radius: var(--btn-border);
    margin-top: 5px;
    width: fit-content;
    display: block;
}

#message {
    margin-top: 15px;
}

#message p {
    position: relative;
    bottom: 5px;
}